In [144]:
import pandas as pd
import numpy as np

In [145]:
satdf = pd.read_csv('sat_scores.csv')

In [146]:
satdf

,DBN,School Name,Number of Test Takers,Critical Reading Mean,Mathematics Mean,Writing Mean
0,01M292,Henry Street School for International Studies,31.0,391.0,425.0,385.0
1,01M448,University Neighborhood High School,60.0,394.0,419.0,387.0
2,01M450,East Side Community High School,69.0,418.0,431.0,402.0
3,01M458,SATELLITE ACADEMY FORSYTH ST,26.0,385.0,370.0,378.0
4,01M509,CMSP HIGH SCHOOL,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
455,75R025,South Richmond High School,10.0,407.0,421.0,400.0
456,75X012,PS12X LEWIS AND CLARK SCHOOL,NaN,NaN,NaN,NaN
457,75X754,P754 X - Jeffrey M. Rapport School for Career ...,NaN,NaN,NaN,NaN
458,76K460,John Jay High School,9.0,390.0,381.0,398.0
459,79X490,PHOENIX SCHOOL,7.0,404.0,423.0,416.0

In [147]:
satdf.isna().sum()

DBN                       0
School Name               0
Number of Test Takers    74
Critical Reading Mean    74
Mathematics Mean         74
Writing Mean             74
dtype: int64

In [148]:
for cols in satdf.columns:
    print(satdf[cols].is_unique)

False
True
False
False
False
False

In [149]:
satdf.dtypes

DBN                       object
School Name               object
Number of Test Takers    float64
Critical Reading Mean    float64
Mathematics Mean         float64
Writing Mean             float64
dtype: object

In [150]:
#Remove DBN column
satdf = satdf.drop('DBN', axis= 1)

In [151]:
satdf

,School Name,Number of Test Takers,Critical Reading Mean,Mathematics Mean,Writing Mean
0,Henry Street School for International Studies,31.0,391.0,425.0,385.0
1,University Neighborhood High School,60.0,394.0,419.0,387.0
2,East Side Community High School,69.0,418.0,431.0,402.0
3,SATELLITE ACADEMY FORSYTH ST,26.0,385.0,370.0,378.0
4,CMSP HIGH SCHOOL,NaN,NaN,NaN,NaN
...,...,...,...,...,...
455,South Richmond High School,10.0,407.0,421.0,400.0
456,PS12X LEWIS AND CLARK SCHOOL,NaN,NaN,NaN,NaN
457,P754 X - Jeffrey M. Rapport School for Career ...,NaN,NaN,NaN,NaN
458,John Jay High School,9.0,390.0,381.0,398.0
459,PHOENIX SCHOOL,7.0,404.0,423.0,416.0

In [152]:
#Take the numerical column for imputation by mean
numerical = [i for i in satdf.columns if satdf[i].dtype == 'float']
numerical

['Number of Test Takers',
 'Critical Reading Mean',
 'Mathematics Mean',
 'Writing Mean']

In [153]:
#Fill missing values in numerical columns by imputing its mean
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values= np.nan, strategy= 'mean')
satdf[numerical] = imputer.fit_transform(satdf[numerical])

In [154]:
#Check again for missing values
satdf[numerical].isna().sum()

Number of Test Takers    0
Critical Reading Mean    0
Mathematics Mean         0
Writing Mean             0
dtype: int64

***Since we have three target variables, lets find them out 1 by 1 starting with Column : Critical Reading Mean***

In [155]:
#Split data into features and targets (Critical Reading Mean)
X1 = satdf.iloc[:, 0:2]
y1 = satdf.iloc[:, 2]

In [156]:
#Check the X1 
print(X1)

                                           School Name  Number of Test Takers
0       Henry Street School for International Studies               31.000000
1                 University Neighborhood High School               60.000000
2                     East Side Community High School               69.000000
3                        SATELLITE ACADEMY FORSYTH ST               26.000000
4                                    CMSP HIGH SCHOOL              103.658031
..                                                 ...                    ...
455                        South Richmond High School               10.000000
456                      PS12X LEWIS AND CLARK SCHOOL              103.658031
457  P754 X - Jeffrey M. Rapport School for Career ...             103.658031
458                              John Jay High School                9.000000
459                                    PHOENIX SCHOOL                7.000000

[460 rows x 2 columns]

In [157]:
#Check y1
print(y1)

0      391.000000
1      394.000000
2      418.000000
3      385.000000
4      404.248705
          ...
455    407.000000
456    404.248705
457    404.248705
458    390.000000
459    404.000000
Name: Critical Reading Mean, Length: 460, dtype: float64

In [158]:
X1

                                           School Name  Number of Test Takers
0       Henry Street School for International Studies               31.000000
1                 University Neighborhood High School               60.000000
2                     East Side Community High School               69.000000
3                        SATELLITE ACADEMY FORSYTH ST               26.000000
4                                    CMSP HIGH SCHOOL              103.658031
..                                                 ...                    ...
455                        South Richmond High School               10.000000
456                      PS12X LEWIS AND CLARK SCHOOL              103.658031
457  P754 X - Jeffrey M. Rapport School for Career ...             103.658031
458                              John Jay High School                9.000000
459                                    PHOENIX SCHOOL                7.000000

[460 rows x 2 columns]

In [161]:
#Encoding The Categorical Column (We only have one column in categorical which is the School name)
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [0])], remainder= 'passthrough')
X1 = ct.fit_transform(X1)

In [164]:
print(X1)

  (0, 214)	1.0
  (0, 460)	31.0
  (1, 409)	1.0
  (1, 460)	60.0
  (2, 136)	1.0
  (2, 460)	69.0
  (3, 365)	1.0
  (3, 460)	26.0
  (4, 100)	1.0
  (4, 460)	103.65803108808291
  (5, 271)	1.0
  (5, 460)	154.0
  (6, 317)	1.0
  (6, 460)	47.0
  (7, 96)	1.0
  (7, 460)	35.0
  (8, 30)	1.0
  (8, 460)	138.0
  (9, 13)	1.0
  (9, 460)	11.0
  (10, 145)	1.0
  (10, 460)	50.0
  (11, 190)	1.0
  (11, 460)	51.0
  (12, 225)	1.0
  :	:
  (447, 460)	49.0
  (448, 12)	1.0
  (448, 460)	29.0
  (449, 94)	1.0
  (449, 460)	30.0
  (450, 388)	1.0
  (450, 460)	103.65803108808291
  (451, 264)	1.0
  (451, 460)	103.65803108808291
  (452, 273)	1.0
  (452, 460)	103.65803108808291
  (453, 323)	1.0
  (453, 460)	103.65803108808291
  (454, 322)	1.0
  (454, 460)	103.65803108808291
  (455, 390)	1.0
  (455, 460)	10.0
  (456, 335)	1.0
  (456, 460)	103.65803108808291
  (457, 324)	1.0
  (457, 460)	103.65803108808291
  (458, 250)	1.0
  (458, 460)	9.0
  (459, 332)	1.0
  (459, 460)	7.0

In [165]:
#Split the dataset into training and test sets
from sklearn.model_selection import train_test_split

X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size= 0.2, random_state= 1)

In [166]:
print(X1_train)

  (0, 281)	1.0
  (0, 460)	17.0
  (1, 102)	1.0
  (1, 460)	44.0
  (2, 23)	1.0
  (2, 460)	103.65803108808291
  (3, 430)	1.0
  (3, 460)	11.0
  (4, 335)	1.0
  (4, 460)	103.65803108808291
  (5, 91)	1.0
  (5, 460)	103.65803108808291
  (6, 277)	1.0
  (6, 460)	80.0
  (7, 294)	1.0
  (7, 460)	287.0
  (8, 226)	1.0
  (8, 460)	221.0
  (9, 50)	1.0
  (9, 460)	87.0
  (10, 97)	1.0
  (10, 460)	35.0
  (11, 375)	1.0
  (11, 460)	192.0
  (12, 152)	1.0
  :	:
  (355, 460)	57.0
  (356, 171)	1.0
  (356, 460)	31.0
  (357, 76)	1.0
  (357, 460)	46.0
  (358, 12)	1.0
  (358, 460)	29.0
  (359, 148)	1.0
  (359, 460)	581.0
  (360, 42)	1.0
  (360, 460)	10.0
  (361, 79)	1.0
  (361, 460)	54.0
  (362, 98)	1.0
  (362, 460)	63.0
  (363, 432)	1.0
  (363, 460)	58.0
  (364, 414)	1.0
  (364, 460)	53.0
  (365, 9)	1.0
  (365, 460)	103.65803108808291
  (366, 63)	1.0
  (366, 460)	1047.0
  (367, 387)	1.0
  (367, 460)	103.65803108808291

In [167]:
print(X1_test)

  (0, 197)	1.0
  (0, 460)	212.0
  (1, 411)	1.0
  (1, 460)	22.0
  (2, 331)	1.0
  (2, 460)	49.0
  (3, 105)	1.0
  (3, 460)	373.0
  (4, 199)	1.0
  (4, 460)	50.0
  (5, 174)	1.0
  (5, 460)	103.65803108808291
  (6, 443)	1.0
  (6, 460)	103.65803108808291
  (7, 206)	1.0
  (7, 460)	71.0
  (8, 240)	1.0
  (8, 460)	153.0
  (9, 291)	1.0
  (9, 460)	63.0
  (10, 56)	1.0
  (10, 460)	43.0
  (11, 234)	1.0
  (11, 460)	103.65803108808291
  (12, 363)	1.0
  :	:
  (79, 460)	397.0
  (80, 341)	1.0
  (80, 460)	102.0
  (81, 382)	1.0
  (81, 460)	16.0
  (82, 262)	1.0
  (82, 460)	103.65803108808291
  (83, 298)	1.0
  (83, 460)	60.0
  (84, 359)	1.0
  (84, 460)	47.0
  (85, 51)	1.0
  (85, 460)	54.0
  (86, 455)	1.0
  (86, 460)	103.65803108808291
  (87, 49)	1.0
  (87, 460)	12.0
  (88, 124)	1.0
  (88, 460)	50.0
  (89, 400)	1.0
  (89, 460)	45.0
  (90, 428)	1.0
  (90, 460)	163.0
  (91, 419)	1.0
  (91, 460)	104.0

In [169]:
#We need to feature scale our data (especially cols school name and number of test takers) (test with standardscaler)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler(with_mean=False)
X1_train = sc.fit_transform(X1_train)
X1_test = sc.transform(X1_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(random_state=0)
logreg.fit